body{
    
    padding-top: 50px;
    background-image: url('bg-body.jpg');
    font-family: 'Ubuntu', sans-serif;
}
.container{
    max-width: 550px;
    margin: auto;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    background-color: #0705199e;
}

input {
    outline: none;
    border: none;
}

.header-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px 5px 0 0;           
    background: linear-gradient(#070660e8, #8e90d1e8);
    color: white;
    
} 
.header-bar a{
    text-decoration:none;
    color : white;
    padding: 10px;
}
.task-title{
    display: flex;
    padding: 13px;
}
.task-title a{
    text-decoration: none;
    color: #37318a;
    margin-left: 26px;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;

}
.task-title a:hover{
color: #b18bafe8;
}

.task-complete-icon{
    height: 20px;
    width: 20px;
    background-color:#4d205f78;;
    border-radius: 50%;
}
.task-incomplete-icon{
    height: 20px;
    width: 20px;
    background-color:  #070f3a;
    border-radius: 50%;
}
.delete-link{
    text-decoration: none;
    color: #070f3a;
    font-size: 1.4rem;
    line-height:0;
    padding: 10px; 
}

.task-wrapper{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 16px;
    background-color: #fff;
    overflow: hidden;
    border-top:1px solid #091f9d;
}
#search-add-wrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
}
#add-link{
    color: white;
    text-decoration: none;
    font-size: 39px;
    text-shadow: 1px 1px #3f1c7f;
    margin-top: 13px;
}
input[type=text],
input[type=password],
textarea{
    border: 1px solid #081354de;
    border-radius: 6px;
    padding: 8px;
    width: 90%;
    margin-right: 10px;
}
label{
    padding-top: 10px !important;
    display:block;
}
.button{
    background: linear-gradient(#070660e8, #8e90d1e8);
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
}
.button:hover{
    color: #070f3a;
    background: linear-gradient(#b18bafe8, #61629ee8);
}
.card-body{
    padding:20px;
    color: white;
}
.para a{
    color: #9892e9;;
    margin-left: 16px;
    font-size: 1.2rem;
    font-weight: bold; 
}
.para a:hover{
    color: #b18bafe8;
}

label {
    padding-top: 10px !important;
    display: block;
}

::placeholder {
    font-weight: 300;
    opacity: 0.5;
}


@media screen and (max-width:230px) {
    #search-add-wrapper {
        padding: 10px;
    }
    .header-bar{
        font-size: 12px;
    }
}

